body {
    background: linear-gradient(to right,#000000E0 58%,#57B8FF 42%); font-family: 'Orbitron', sans-serif;
}

.header-logo {
    display: flex;
    justify-content: flex-start;
    padding-top: 27px;
    padding-left: 60px;
}

.buttons {
    display: flex;
    justify-content: end;
    margin-top: -60px;
    margin-right: 60px;
}

.nav {
    display: flex;
    justify-content: center;
    margin-top: -30px;
}

.nav-style {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin: 0 60px;
    transition: color 0.3s linear;
}

.nav-style:hover {
    color: #FAC422;
}

.contact-us {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
}

.cart {
    margin-top: 23px;
    margin-right: 20px;
}

.left-nav { 
    position: relative;
    margin-left: -1820px;
    margin-top: -1968px;
    transform: rotate(270deg);
}

.left-buttons {
    margin: 0 30px;
    color:#80858F;
    font-size: 11px;
    text-decoration: none;
    transition: color 0.3s linear;
}

.left-buttons:hover {
    color: #FFFFFF;
}

.fortnite {
    margin-left: 975px;
    margin-top: 150px;
}

.unleash {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: #FFFFFF;
    font-size: 72px;
    margin-top: -460px;
    margin-left: 100px;
}

.mid-nav {
    color:#57B8FF;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-top: -400px;
}

.latyntext {
    display: flex;
    flex-direction: column;
    color: #999999;
    font-size: 18px;
    margin-left: 100px;
    margin-top: 45px;
}

.yellowline {
    position: absolute;
    margin-left: 315px;
    margin-top: -95px;
}

.bluebtn {
    background-color: #57B8FF;
    color: white;
    text-decoration: none;
    padding: 21px 34px;
    transition: background-color 0.3s linear;
}

.bluebtn:hover {
    background-color: #6857ff;
}

.exploremore {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 430px;
    margin-left: 100px;
}

.team {
    color: white;
    text-decoration: none;
    margin-left: 40px;
    transition: color 0.3s linear;
}

.team:hover {
    color: #FAC422;
} 