body {
    background: linear-gradient(to right,#000000E0 60%,#57B8FF 40%); font-family: 'Orbitron', sans-serif;
}

.container {
    margin: 27px 60px;
}

.header-menu {
    padding-top: 27px;
    display: flex;
    align-items: center;
}

.nav-style {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    margin-right: 60px;
}

.contact-us {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
}

.circle-svg {
    position: absolute;
    top: 27px;
    right: 324.61;
}

