body {
    background: linear-gradient(to right,#000000E0 60%,#57B8FF 40%); font-family: 'Orbitron', sans-serif;
}

.header-menu {
    padding-top: 0px;
    display: flex;
    justify-content: space-around;
}

.container {
    margin: 27px 60px;
}

.nav-style {
    color: white;
    text-decoration: none;
    float:left;
    display: block;
    font-size: 16px;
    margin-right: 60px;
    position: relative;
    left: 222.5px;
    top: 28px;
}

.contact-us {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    justify-content: center;
}

.cart {
    margin-left: 120px;
    margin-top: 7px;
}

a:hover {
    color:#FAC422;
    transition: color 0.3s linear;
}

.header-logo {
    position: absolute;
    top: 38.77px;
    left: 61.26px;
}